root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
max_line_length = 120
indent_style = space
indent_size = 4

[*.{kt,kts}]
ktlint_code_style = ktlint_official
ij_java_use_single_class_imports = false
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647